In [185]:
from __future__ import division

import pandas as pd
import numpy as np
import graphlab as gl
import time

from datetime import datetime

import matplotlib.pyplot as plt
% matplotlib inline

In [186]:
columns_of_interest = ['Created Date', 'Agency', 'Complaint Type', 'Borough', 'Latitude', 'Longitude']

In [187]:
# uncomment for the first run

# # only load necessary columns to save space
# sf = gl.SFrame.read_csv('nyc311calls.csv', verbose = False, usecols = columns_of_interest)

# # save to binary for fast future access
# sf.save('nyc311_sframe')

In [188]:
sf = gl.load_sframe('nyc311_sframe')
num_complaints = len(sf)
sf

Columns:
	Created Date	str
	Agency	str
	Complaint Type	str
	Borough	str
	Latitude	float
	Longitude	float

Rows: 10012260

Data:
+------------------------+--------+--------------------+-----------+
|      Created Date      | Agency |   Complaint Type   |  Borough  |
+------------------------+--------+--------------------+-----------+
| 10/05/2015 11:56:00 PM |  DSNY  | Derelict Vehicles  |   QUEENS  |
| 10/05/2015 02:21:36 AM |  DSNY  |      Graffiti      |  BROOKLYN |
| 10/05/2015 02:19:55 AM |  DSNY  |      Graffiti      |  BROOKLYN |
| 10/05/2015 02:19:14 AM |  DSNY  |      Graffiti      |  BROOKLYN |
| 10/05/2015 02:14:38 AM |  NYPD  |    Animal Abuse    |  BROOKLYN |
| 10/05/2015 02:11:10 AM |  NYPD  |  Noise - Vehicle   | MANHATTAN |
| 10/05/2015 02:08:00 AM |  NYPD  | Noise - Commercial | MANHATTAN |
| 10/05/2015 02:04:59 AM |  NYPD  | Noise - Commercial |  BROOKLYN |
| 10/05/2015 02:03:06 AM |  NYPD  |  Blocked Driveway  |   QUEENS  |
| 10/05/2015 01:59:10 AM | DOHMH  | Food Establishment | MANHATTAN |
+------------------------+--------+--------------------+-----------+
+---------------+----------------+
|    Latitude   |   Longitude    |
+---------------+----------------+
| 40.6712004682 | -73.7894667341 |
| 40.7071446347 | -73.9518342756 |
| 40.7100487216 | -73.9521387718 |
| 40.7084408233 | -73.9534384136 |
| 40.6577823273 | -73.951087811  |
| 40.7333176765 | -74.0042396999 |
| 40.8619359261 | -73.9207721466 |
| 40.7131690549 | -73.9579873529 |
| 40.6880438096 | -73.8563446506 |
| 40.8257582402 | -73.9509390454 |
+---------------+----------------+
[10012260 rows x 6 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

# Question 1

In [189]:
complaints_by_agency = sf.groupby(key_columns = 'Agency', operations = {'Count': gl.aggregate.COUNT()})

In [190]:
complaints_by_agency = complaints_by_agency.sort('Count', ascending = False)
complaints_by_agency

Columns:
	Agency	str
	Count	int

Rows: 63

Data:
+--------+---------+
| Agency |  Count  |
+--------+---------+
|  HPD   | 3542676 |
|  DOT   | 1721422 |
|  NYPD  | 1221349 |
|  DEP   |  932891 |
|  DSNY  |  762871 |
|  DOB   |  526675 |
|  DPR   |  458782 |
| DOHMH  |  286361 |
|  DOF   |  147480 |
|  TLC   |  133540 |
+--------+---------+
[63 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [191]:
print 'Fraction of complaints are associated with the 2nd most popular agency:'
print complaints_by_agency['Agency'][1], complaints_by_agency['Count'][1] / len(sf)

Fraction of complaints are associated with the 2nd most popular agency:
DOT 0.171931412089

# Question 2

In [192]:
complaints_by_type = sf.groupby(key_columns = 'Complaint Type',
                                operations = {'Count of Type': gl.aggregate.COUNT()})
complaints_by_type

Columns:
	Complaint Type	str
	Count of Type	int

Rows: 236

Data:
+-----------------------------+---------------+
|        Complaint Type       | Count of Type |
+-----------------------------+---------------+
|   Violation of Park Rules   |      9718     |
|          APPLIANCE          |     58797     |
|           Smoking           |     10082     |
|   Miscellaneous Categories  |      908      |
|            SG-98            |       3       |
| Animal Facility - No Permit |      421      |
|  DOF Property - RPIE Issue  |       13      |
|     UNSANITARY CONDITION    |     124273    |
|        Adopt-A-Basket       |      229      |
|         CONSTRUCTION        |      5078     |
+-----------------------------+---------------+
[236 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [193]:
complaints_by_borough = sf.groupby(key_columns = 'Borough',
                                   operations = {'Count of Borough': gl.aggregate.COUNT()})
complaints_by_borough

Columns:
	Borough	str
	Count of Borough	int

Rows: 6

Data:
+---------------+------------------+
|    Borough    | Count of Borough |
+---------------+------------------+
|    BROOKLYN   |     2779885      |
|  Unspecified  |     1102456      |
|     QUEENS    |     2151239      |
| STATEN ISLAND |      483458      |
|     BRONX     |     1635380      |
|   MANHATTAN   |     1859842      |
+---------------+------------------+
[6 rows x 2 columns]

In [194]:
complaints_by_borough_type = sf.groupby(key_columns = ['Borough', 'Complaint Type'],
                                        operations = {'Count of Borough and Type': gl.aggregate.COUNT()})
complaints_by_borough_type

Columns:
	Borough	str
	Complaint Type	str
	Count of Borough and Type	int

Rows: 1101

Data:
+---------------+-------------------------------+---------------------------+
|    Borough    |         Complaint Type        | Count of Borough and Type |
+---------------+-------------------------------+---------------------------+
| STATEN ISLAND | Emergency Response Team (ERT) |            108            |
|     BRONX     |   For Hire Vehicle Complaint  |            3235           |
|    BROOKLYN   |          Damaged Tree         |           46561           |
|   MANHATTAN   |         Interior Demo         |             1             |
|     BRONX     |             SCRIE             |            2852           |
|     QUEENS    |            HEATING            |           75804           |
|     QUEENS    |       Derelict Vehicles       |           26526           |
|  Unspecified  |    Litter Basket / Request    |             12            |
|    BROOKLYN   |        Bridge Condition       |            1385           |
| STATEN ISLAND |       Consumer Complaint      |            3237           |
+---------------+-------------------------------+---------------------------+
[1101 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [195]:
complaints_by_borough_type = complaints_by_borough_type.join(complaints_by_borough,
                                                             on=['Borough'], how = 'outer')
complaints_by_borough_type = complaints_by_borough_type.join(complaints_by_type,
                                                             on=['Complaint Type'], how = 'outer')
complaints_by_borough_type

Columns:
	Borough	str
	Complaint Type	str
	Count of Borough and Type	int
	Count of Borough	int
	Count of Type	int

Rows: 1101

Data:
+---------------+-------------------------------+---------------------------+
|    Borough    |         Complaint Type        | Count of Borough and Type |
+---------------+-------------------------------+---------------------------+
| STATEN ISLAND | Emergency Response Team (ERT) |            108            |
|     BRONX     |   For Hire Vehicle Complaint  |            3235           |
|    BROOKLYN   |          Damaged Tree         |           46561           |
|   MANHATTAN   |         Interior Demo         |             1             |
|     BRONX     |             SCRIE             |            2852           |
|     QUEENS    |            HEATING            |           75804           |
|     QUEENS    |       Derelict Vehicles       |           26526           |
|  Unspecified  |    Litter Basket / Request    |             12            |
|    BROOKLYN   |        Bridge Condition       |            1385           |
| STATEN ISLAND |       Consumer Complaint      |            3237           |
+---------------+-------------------------------+---------------------------+
+------------------+---------------+
| Count of Borough | Count of Type |
+------------------+---------------+
|      483458      |      2802     |
|     1635380      |     16145     |
|     2779885      |     173736    |
|     1859842      |       1       |
|     1635380      |     16905     |
|     2151239      |     887869    |
|     2151239      |     70274     |
|     1102456      |     15683     |
|     2779885      |      3807     |
|      483458      |     101124    |
+------------------+---------------+
[1101 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [196]:
complaints_by_borough_type['Pr(Type)'] = complaints_by_borough_type.apply(lambda x:
                                         x['Count of Type'] / num_complaints)

complaints_by_borough_type['Pr(Type | Borough)'] = complaints_by_borough_type.apply(lambda x:
                                                   x['Count of Borough and Type'] / x['Count of Borough']) 

complaints_by_borough_type['Surprise'] = complaints_by_borough_type.apply(lambda x:
                                                   x['Pr(Type | Borough)'] / x['Pr(Type)'])
complaints_by_borough_type

Columns:
	Borough	str
	Complaint Type	str
	Count of Borough and Type	int
	Count of Borough	int
	Count of Type	int
	Pr(Type)	float
	Pr(Type | Borough)	float
	Surprise	float

Rows: 1101

Data:
+---------------+-------------------------------+---------------------------+
|    Borough    |         Complaint Type        | Count of Borough and Type |
+---------------+-------------------------------+---------------------------+
| STATEN ISLAND | Emergency Response Team (ERT) |            108            |
|     BRONX     |   For Hire Vehicle Complaint  |            3235           |
|    BROOKLYN   |          Damaged Tree         |           46561           |
|   MANHATTAN   |         Interior Demo         |             1             |
|     BRONX     |             SCRIE             |            2852           |
|     QUEENS    |            HEATING            |           75804           |
|     QUEENS    |       Derelict Vehicles       |           26526           |
|  Unspecified  |    Litter Basket / Request    |             12            |
|    BROOKLYN   |        Bridge Condition       |            1385           |
| STATEN ISLAND |       Consumer Complaint      |            3237           |
+---------------+-------------------------------+---------------------------+
+------------------+---------------+-------------------+--------------------+
| Count of Borough | Count of Type |      Pr(Type)     | Pr(Type | Borough) |
+------------------+---------------+-------------------+--------------------+
|      483458      |      2802     | 0.000279856895446 | 0.000223390656479  |
|     1635380      |     16145     |  0.00161252304674 |  0.00197813352248  |
|     2779885      |     173736    |  0.0173523260483  |  0.0167492540159   |
|     1859842      |       1       | 9.98775501235e-08 | 5.37680082502e-07  |
|     1635380      |     16905     |  0.00168842998484 |  0.00174393718891  |
|     2151239      |     887869    |  0.0886781805506  |   0.035237367861   |
|     2151239      |     70274     |  0.00701879495738 |   0.01233056857    |
|     1102456      |     15683     |  0.00156637961859 | 1.08847881457e-05  |
|     2779885      |      3807     |  0.00038023383332 | 0.000498222048754  |
|      483458      |     101124    |  0.0101000173787  |  0.00669551439836  |
+------------------+---------------+-------------------+--------------------+
+------------------+
|     Surprise     |
+------------------+
|  0.798231739557  |
|  1.22673193817   |
|  0.965245464459  |
|  5.38339278283   |
|  1.03287504046   |
|  0.397362323429  |
|   1.7567928177   |
| 0.00694901032711 |
|  1.31030435772   |
|  0.662921076995  |
+------------------+
[1101 rows x 8 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [197]:
complaints_by_borough_type.sort('Surprise', ascending = False)['Complaint Type'][0]

'Special Natural Area District (SNAD)'

# Question 3

In [198]:
lat_90 = np.percentile(sf['Latitude'], 90)
lat_10 = np.percentile(sf['Latitude'], 10)

In [199]:
lat_90 - lat_10

0.288837602205966

# Question 4

In [200]:
# I am doing flat surface approximation, because:
# a) I am calculating _approximate_ area to begin with
# b) area is small, so the Earth curvature is negligible
# conversion numbers from Wikipedia, take ellipticity of Earth into account

mean_latitude = sf['Latitude'].mean()

km_in_latitude_degree = 110.574
km_in_longitude_degree = 111.320 * np.cos( np.radians(mean_latitude) )

In [201]:
std_latitude_km  = sf['Latitude'].std() * km_in_latitude_degree
std_longitude_km = sf['Longitude'].std() * km_in_longitude_degree

In [202]:
area = 0.25 * np.pi * std_latitude_km * std_longitude_km
area

52.274865811971729

# Question 5

In [203]:
date_format = '%m/%d/%Y %I:%M:%S %p'
seconds_in_day = 60 * 60 * 24

sf['Datetime'] = sf['Created Date'].apply(lambda x : datetime.strptime(x, date_format))
sf['Hour'] = sf['Datetime'].apply(lambda x : int(x.hour))
sf['Epoch Seconds'] = sf['Datetime'].apply( lambda x : int(time.mktime( x.timetuple() )) )
sf['Epoch Days'] = sf['Epoch Seconds'].apply( lambda x : x // seconds_in_day)

In [206]:
# Remove blocks of consecutive identical times and find time differences.

times = np.array(sf['Epoch Seconds'])
diff = np.diff(times)
diff = np.append(diff, [diff[-1]])

sf['Time Error'] = (diff == 0)
sf_filtered = sf[sf['Time Error'] == 0].remove_column('Time Error')

times = np.array(sf_filtered['Epoch Seconds'])
diff = np.diff(times)
diff = np.append(diff, [diff[-1]])
sf_filtered['Time Difference'] = diff

In [231]:
complaints_by_hour = sf_filtered.groupby(key_columns = ['Hour', 'Epoch Days'],
                                                      operations = {'Count': gl.aggregate.COUNT()})
complaints_by_hour = complaints_by_hour.groupby(key_columns = 'Hour',
                                                    operations = {'Mean Count': gl.aggregate.MEAN('Count')})
complaints_by_hour

Columns:
	Hour	int
	Mean Count	float

Rows: 24

Data:
+------+---------------+
| Hour |   Mean Count  |
+------+---------------+
|  13  | 173.336661912 |
|  2   | 29.0199809705 |
|  8   | 120.806942463 |
|  15  | 168.966714218 |
|  14  | 178.335235378 |
|  20  | 90.4127436995 |
|  19  | 101.814075131 |
|  0   | 54.9710076046 |
|  5   | 19.1887779363 |
|  12  | 167.715644318 |
+------+---------------+
[24 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [233]:
complaints_by_hour['Mean Count'].max() - complaints_by_hour['Mean Count'].min()

163.52876842605852

# Question 6

In [221]:
time_diff = sf_filtered['Time Difference'].sort()

# after inspection, I remove positive differences (shift in data)
# and difference with abs > 10000
time_diff = time_diff.filter(lambda x: x < 0 and abs(x) < 10000)

print 'Standard deviation of differences', time_diff.std(), 's'

Standard deviation of differences 61.5770979955 s